# TODO: separate out sensitive stuff
.ssh/config

# IntelliJ
.idea
**.iml
**.ipr
**.iws

# VS Code
.vscode

# Temporary-file naming conventions
**.asdf
**.local
**.tmp
**.TODO
asdf.**
local.**
tmp.**
TODO.**
asdf
local
tmp
TODO

# Python caches and Vim swap files
**.py[a-z]
**.sw[a-z]

# Mac OS
.DS_Store

# Working repos
opt

# Ant runtime errors
hs_err_*.log
junit*.properties
