[user]
	name = Manny Jois
	email = mjois@quantcast.com
	signingkey = 8EA70A6B277A1809
[push]
	default = simple
[core]
	excludesfile = /Users/mjois/.gitignore
	commentChar = ";"
[alias]
	brd = branch -D
	boot = reset HEAD --
	chk = checkout
	com = !gpg --sign -u "${EMAIL}" -o /dev/null ~/.gitmessage && git commit
	fix = com --amend --no-edit .
	trash = !git remote prune origin && git prune -v && git gc --aggressive
	trunk = clone --depth 3 --no-single-branch
[commit]
	template = /Users/mjois/.gitmessage
	gpgsign = true
[grep]
	patternType = extended
	lineNumber = true
